Repository voxpupuli/puppet-check_mk, pull requests merged in 2019-07, with the labels that each got.

#16 Release 0.8.0
  CHANGELOG.md
  HISTORY.md
  TODO
  metadata.json
Labels: skip-changelog

#17 modulesync 2.8.0
  .github/CONTRIBUTING.md
  .msync.yml
  Gemfile
  spec/spec_helper.rb
Labels: modulesync

#20 Release 0.8.1
  .sync.yml
  .travis.yml
  CHANGELOG.md
  README.md
  metadata.json
Labels: skip-changelog

#21 Remove support for EOL operating systems
  README.md
  metadata.json
Labels: backwards-incompatible
